.container{
    padding: 40px 0;
    background-color: #e7dbe5;
}

.title{
    font-family: "Playwrite BE VLG", cursive;
    font-size: 3rem;
}

.right, .left{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 150px;
    text-align: center;
    font-family: "Dancing Script", cursive;
}

.text{
    text-align: center;
    font-size: 2.8rem;
    width: 250px;
}

@media screen and (max-width: 790px) {
    .title{
        padding-bottom: 20px;
    }

    .right, .left{
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        gap: 10px;
    }

    .text{
        width: unset
    }

    .left{
        padding-top: 10px;
    }
}